
aps/Lib/site-packages/__pycache__/mypy_extensions.cpython-38.pyc
aps/Lib/site-packages/__pycache__/pythoncom.cpython-38.pyc
aps/Lib/site-packages/__pycache__/six.cpython-38.pyc
aps/Lib/site-packages/__pycache__/typing_extensions.cpython-38.pyc
aps.db
